body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#game-board {
  background-color: #ccc;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.snake {
  background-color: rgb(0, 183, 255);
  border: 1px solid black;
}
.food {
  background-color: rgb(255, 208, 0);
  border: 1px solid black;
}
